{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load static %}

{% block content %}

<div class="container mt-2">
    <!-- Add/Edit Form -->
    <div class="row">
        <h2 class="p-2">{% if editing %}تعديل{% else %}اضافة{% endif %} تصنيف</h2>
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    <div class="row">
        <!-- Categories Table -->
        <h3 class="p-2">التصنيفات</h3>
        {% render_table table %}
    </div>
</div>
{% endblock %}


{% block scripts %}
{% endblock %}
