{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load static %}

{% block content %}
    <!-- Title -->
<div class="m-2">
    <h2>اذن استلام جديد</h2>
</div>
 <!-- Main transaction form -->
<div class="container m-2">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-5">
            <!-- Add Item Form Fields -->
            <form id="item-form" method="GET" action="{% url 'import_item_add' %}">
                {% crispy import_item_form %}
            </form>
        </div>
        <div class="col-md-7">
        <!-- Add Record Form Fields -->
        <form id="import-form" method="POST" action="{% url 'import_create' %}">
            {% crispy import_record_form %}
        </form>
        </div>
    </div>
    <div class="row">
<!-- Section to Display Added Items -->
        <div id="added-items">
            <table class="table mt-3" id="items-table">
                <thead>
                    <tr>
                        <th>الصنف</th>
                        <th>الكمية</th>
                        <th>السعر</th>
                        <th>*</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in import_items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                            <td>
                                <a href="{% url 'import_item_delete' item.id %}">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% comment %} 
    <!-- Add Record Form Fields -->
<form id="import-form" method="POST" action="{% url 'import_create' %}">
    {% csrf_token %}

    <div id="add-record-fields">
        {% crispy import_record_form %}
    </div>

</form>
    <!-- Add Item Form Fields -->
<form id="item-form" method="GET" action="{% url 'import_item_add' %}">
    <div id="add-item-fields">
        {% crispy import_item_form %}
    </div>
</form>

<!-- Section to Display Added Items -->
<div id="added-items">
    <table class="table mt-3" id="items-table">
        <thead>
            <tr>
                <th>الصنف</th>
                <th>الكمية</th>
                <th>السعر</th>
                <th>*</th>
            </tr>
        </thead>
        <tbody>
            {% for item in import_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <a href="{% url 'import_item_delete' item.id %}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div> {% endcomment %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const categorySelect = document.getElementById('id_asset_cat');
        const assetSelect = document.getElementById('id_asset');

        categorySelect.addEventListener('change', function() {
            const categoryId = this.value;

            // Fetch assets based on the selected category
            fetch(`/get_assets/${categoryId}/`)
                .then(response => response.json())
                .then(data => {
                    // Clear current options
                    assetSelect.innerHTML = '';
                    data.assets.forEach(asset => {
                        const option = document.createElement('option');
                        option.value = asset.id;
                        option.textContent = asset.name;
                        assetSelect.appendChild(option);
                    });
                });
        });
    });
</script>

{% endblock %}