{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}
<div class="container">
    {% if model_name == 'company' %}
        <h2>Create New Company</h2>
        <form method="post">
            {% csrf_token %}
            {{ company_form|crispy }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <h3>Company List</h3>
        {% load render_table %}
        {% render_table company_table %}

    {% elif model_name == 'department' %}
        <h2>Create New Department</h2>
        <form method="post">
            {% csrf_token %}
            {{ department_form|crispy }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <h3>Department List</h3>
        {% load render_table %}
        {% render_table department_table %}

    {% elif model_name == 'affiliate' %}
        <h2>Create New Affiliate</h2>
        <form method="post">
            {% csrf_token %}
            {{ affiliate_form|crispy }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <h3>Affiliate List</h3>
        {% load render_table %}
        {% render_table affiliate_table %}

    {% elif model_name == 'employee' %}
        <h2>Create New Employee</h2>
        <form method="post">
            {% csrf_token %}
            {{ employee_form|crispy }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <h3>Employee List</h3>
        {% load render_table %}
        {% render_table employee_table %}

    {% else %}
        <h3>Select a valid model to manage.</h3>
    {% endif %}
</div>  <!-- Close the container div -->

{% endblock %}